.edit-form-control{
    outline: none;
    border-radius: 7px;
    padding: 6px 10px;
    border: 1px solid #ddd;
    font-family: "Times New Roman", serif;
    margin-bottom: 10px;
    margin-top: 4px;
    /*box-shadow: 0 0px 1px 0px #9d9d9d;*/
    width: 100%;

    /*display: block;*/
    /*width: 100%;*/
    /*height: 34px;*/
    /*padding: 6px 12px;*/
    /*font-size: 14px;*/
    /*line-height: 1.42857143;*/
    /*color: #555;*/
    /*background-color: #fff;*/
    /*background-image: none;*/
    /*border: 1px solid rgba(175, 172, 172, 0.78);*/
    /*border-radius: 4px;*/
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
    /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
    /*-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;*/
    /*-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
    /*transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
}

.edit-dropdown-control{
    border-radius: 4px;
    padding: 0px 10px;
    border: 1px solid #ddd;
    font-family: "Khmer OS Content";
    width: 100%;

}
.edit-form-control:focus, .edit-dropdown-control:focus{
    box-shadow: 0 0px 1px 0px #00caff;

}

.edit-container{
    margin-top: 10px;
    width: 100%;

    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 1px 0px;
    /*box-shadow: 0 0px 1px 0px #9d9d9d;*/
}
.header-container{
    width: 100%;
    height: 35px;
    border-bottom: 1px solid #ddd;
    line-height: 35px;
    padding-left: 10px;
    font-size: 20px;
    font-family:"Arial Black", arial-black, serif;
}
.content-container{
    padding: 10px;
    font-size: 16px;
}
.center{
    text-align: center;
}
.td{
    padding: 12px;
}

.edit-label{
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
}
.user-photo{
    background: white;
    border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
    border:2px solid red;
    border-radius: 50px;
    padding: 3px;
    height: 50px;
}
.display-none{
    display: none;
}

.text-blue{
    color: #5498ec;
}
.text-orange{
    color: #ec760f;
}
.kh-os{
    font-size: 12px;
    font-family: "Khmer OS Content", "Khmer OS ",Serif;
    font-weight: bold;
}
.arial{
    font-size: 14px;
    font-family: 'Magra',"Trebuchet MS",sans-serif;
    font-weight: bold;
}
.time-roman{
    font-size: 17px;
    font-family:Montserrat, Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.kh-moul{
    font-family: "Khmer OS Muol Light",Serif;
}
.required:after{
    content:"*";
    color: red;
}
.cursor-pointer{
    cursor: pointer;
}
.height-35{
    height: 35px;
}
.padding-7px{
    padding: 7px;
}
.border-radius-10{
    border-radius: 10px;
}
.margin-2{
 margin: 2px;
}
.margin-top-23{
    margin-top: 23%;
    background: #3c8dbc;
    color: white;
    border: none;
    outline: none;
}
.icon-edit{
    padding: 2px;
    color: #e08e0b;
}
.icon-delete{
    padding: 2px;
    color: #d73925;
}
.icon-view{
    padding: 2px;
    color: #00acd6;
}

.border-radius{
    border-radius: 5px;

}
.hide{
    display:none;
}
.pandding-2{
    padding: 4px;
}
.center{
    text-align: center;
}
.checkbox {
    padding-left: 20px; }
.cursor-pointer{
    cursor: pointer;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}

/*https://bootsnipp.com/snippets/3knNB*/
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555; }
.checkbox input[type="checkbox"] {
    opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
    border-radius: 50%; }
.checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #428bca;
    border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff; }

.radio {
    padding-left: 20px; }
.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out; }
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] {
    opacity: 0; }
.radio input[type="radio"]:focus + label::before {

    outline: none;
    outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label {
    opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed; }
.radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
    background-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::before {
    border-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::after {
    background-color: #428bca; }

.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c; }
.item {
    box-shadow: 0px 2px 30px -11px black;
    position: relative;
    margin: 6px;
    overflow: hidden;
    padding: 2px;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.item img {
    width: 85px;
    height: 100px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.item:hover img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.item:hover .middle{
    opacity: 1;
}